body {
  position: relative;
  font-family: GothamPro-Medium, Arial, sans-serif;
  font-size: 14px;
  color: #74797e;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}


img {
  max-width: 100%;
  height: auto;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 320px;
  margin: 0 auto;
  @media (min-width: 480px) {
    width: 450px;
  }
  @media (min-width: 630px) {
    width: 599px;
  }
  @media (min-width: 1135px) {
    width: 1090px;
  }
  @media (min-width: 1300px) {
    width: 1180px;
  }
}

