body {
  position: relative;
  font-family: GothamPro-Medium, Arial, sans-serif;
  font-size: 14px;
  color: #74797e;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}


img {
  max-width: 100%;
  height: auto;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1180px;
  margin: 0 auto;
}
