.footer {
  margin-bottom: 154px;
  color: #8297a7;
  font-size: 12px;
  a {
    color: #8297a7;
  }
}

.footer__menu {
  line-height: 35px;
  width: 245px;
  margin-top: 90px;
  ul li{
    list-style-type: none;
  }
}

.footer__menu1 {
  padding: 0;
  float: left;
  margin: 0 82px 45px 0;
}

.footer__menu1 a:hover,
.footer__menu2 a:hover {
  color: black;
}

.footer__menu2 {
  margin: 0;
}

.footer__but {
  width: 95px;
  height: 34px;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: white;
  margin-bottom: 51px;
}

.footer__tweet {
  background-color: #69b6f2;
}

.footer__tweet:hover {
  background-color: #5a96f2;
}

.footer__share {
  background-color: #3a579a;
  color: #69b6f2;
}

.footer__share:hover {
  background-color: #28389a;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 480px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  text-align: right;
}

.fa {
  color: white;
  margin-right: 15px;
}