.guidelines {
  background-color: #f6f9fa;
  padding: 137px 0 200px;
  text-align: center;
  position: relative;
  border-top: 1px solid #d8e0e8;
  min-height: 1130px;
  h2 {
    font-family: Montserrat-Bold, Arial, sans-serif;
    font-size: 30px;
    color: #333b42;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 47px;
  }
  @media (min-width: 1307px) {
    min-height: 590px;
    padding: 137px 0 130px;
  }
}

.guidelines__but {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.guidelines__but-item {
  padding: 20px 20px;
  text-transform: uppercase;
  background-color: #f6f9fa;
  border: 1px solid #28c8c6;
  cursor: pointer;
  margin-left: -1px;
  @media (min-width: 655px) {
    padding: 20px 45px;
  }
}

.guidelines__but-item:hover {
  color: #28c8c6;
}

.guidelines__but-item--active {
  background-color: #28c8c6;
  color: white;
}

.guidelines__but-item--active:hover {
  color: white;
}

.guidelines__img {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1307px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.guidelines__img-item {
  margin-right: 10px;
  img {
    margin-bottom: 30px;
  }
  a {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat-Regular, Arial, sans-serif;
    position: relative;
    color: #333b42;
    margin-bottom: 30px;
    @media (min-width: 1307px) {
      display: inline;
      margin-bottom: 0;
    }
  }

  a:hover {
    color: #28c8c6;
  }

  a::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 14px;
    background-image: url("../img/pointer.svg");
    right: 92px;
    @media (min-width: 1307px) {
      right: -70px;
    }
  }
}

.guidelines__bool-arrow {
  width: 114px;
  height: 114px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin-left:-50px;
  bottom: -50px;
  left: 50%;
  top: -60px;
  background: url("../img/circle.png") no-repeat;
  background-position: 50% 100%;
  img {
    display: block;
    margin: 38px auto 0;
  }
}

.guidelines__wrap {
  position: relative;
  min-height: 253px;
}

#slide4,
#slide3,
#slide2,
#slide1 {
  position: absolute;
  left: 50%;
  margin-left: -204px;
  @media (min-width: 1307px) {
    left: 0;
    margin-left: 0;
  }
}