.latest {
  background-color: #f5f7f9;
  background-size: cover;
  min-height: 421px;
  padding-top: 115px;
  text-align: center;
  position: relative;
  h2 {
    margin-top: 0;
    margin-bottom: 41px;
    font-family: GothamPro-Bold, Arial, sans-serif;
    font-size: 40px;
    color: #333b42;
    text-transform: uppercase;
  }
  p {
    margin: 0 0 75px;
  }
}

.latest__bool-arrow {
  width: 114px;
  height: 114px;
  background-color: #28c8c6;
  border-radius: 50%;
  position: absolute;
  margin-left:-50px;
  bottom: -50px;
  left: 50%;
  img {
    display: block;
    margin: 38px auto 0;
  }
}