.panel__trigger {
  display: block;
  position: fixed;
  height: 24px;
  background-color: #8500d2;
  border-radius: 3px;
  transform: rotate(-90deg);
  top: 50%;
  right: -67px;
  margin: 0 auto;
  padding: 5px 32px;
  font-family: GothamPro-Bold, Arial, sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  @media (min-width: 655px) {
    padding: 17px 50px;
  }
}

.panel__trigger:hover {
  background-color: #730cd2;
}

.panel__wrap {
  display: none;
  position: fixed;
  top: 43%;
  right: -67px;
  width: 270px;
  line-height: 30px;
  background-color: #8500d2;
  color: white;
  padding: 20px 87px 20px 20px;
  border-radius: 5px;
  img {
    width: 20px;
    cursor: pointer;
  }
  @media (min-width: 480px) {
    width: 400px;
  }
}